@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&family=Pangolin&display=swap");

.App {
  max-width: 550px;
  margin: 40px auto;
  color: darkgreen;
  background-color: #8aa18c;
  border: 3px solid black;
  font-family: "Pangolin", cursive;
  border-radius: 20px;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}
